terraform {
  required_version = ">= 1.0"

  required_providers {
    aws = {
      source  = "hashicorp/aws"
      version = "~> 5.0"
    }
    google = {
      source  = "hashicorp/google"
      version = "~> 5.0"
    }
  }

  backend "gcs" { # object storage
    bucket  = "<your-bucket-for-terraform-state>"
    prefix  = "terraform/state"
  }
}

provider "aws" {
  profile = var.aws_profile
  region  = var.aws_region
}

provider "google" {
  project = var.gcp_project_id
  region  = var.gcp_region
}